    <footer>
        <div>
            <ul>
                <% socials.forEach(social => { %>
                    <a href=`<%= social.link %>`><%= social.type %></a>
                <% }) %>
            </ul>
        </div>
        <div>

        </div>
    </footer>
</body>
</html>