<nav>
  <a href="/"><%= companyName %></a>
  <a href="/history">History</a>
  <!-- new links below-->
  <a href="/work">Work</a>
  <a href="/products">Products</a>
  <a href="/staff">Staff</a>
  <a href="/contact">Contact Us</a>
  <a href="/links">Links</a>
</nav>

